// Color Palette
$red: #c9241b;
$lightgray: #ebebeb;
$gray: #1f1a17;
$white: #fff;
$black: #000;

// Media queries
$phone: (max-width: 480px);
$tablet: (max-width: 1020px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);